/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Gris claro */
    color: #343a40; /* Gris oscuro */
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #007bff; /* Azul */
    color: #fff;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
}

/* Secciones */
section {
    padding: 3rem;
    margin: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Habilidades */
#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    margin: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: #e9ecef; /* Gris muy claro */
    border-radius: 20px;
    font-size: 1rem;
}

/* Proyectos */
.project {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out; /* Suaviza la transición al hacer hover */
}

.project:hover {
    transform: translateY(-5px); /* Eleva ligeramente al hacer hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.project h3 a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.5rem;
}

.project h3 a:hover {
    text-decoration: underline;
}

/* Contacto */
#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 0.5rem;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40; /* Gris oscuro */
    color: #fff;
}

/* Media Queries para hacerlo Responsive */
@media (max-width: 768px) {
    header {
        padding: 1.5rem;
    }
    header h1 {
        font-size: 2rem;
    }
    section {
        padding: 2rem;
        margin: 1rem;
    }
    #skills ul {
        flex-direction: column; /* Apila las habilidades en pantallas pequeñas */
        align-items: center;
    }
}
